LANCEDB_DIR = "winemag"
EMBEDDING_MODEL_CHECKPOINT = "thenlper/gte-small"

API_PORT = 8000

# Container image tag
TAG = "0.1.0"

# Docker project namespace (defaults to the current folder name if not set)
COMPOSE_PROJECT_NAME = lancedb_api